<div class="page-header mb-lg-5">
  <!-- <h1>Ocean Protocol Faucet Server</small></h1> -->
  <header class="header">
  	<div class="headerContent">
  		<!-- <div class="col"> -->
	  		<!-- <a class="headerLogo" href="/"> -->
  			<a class="headerLogo" href="/">
	  			<img class="headerLogoImage img-fluid" src="/imgs/logo-white.svg">
	  			<!-- <h1 class="headerTitle">Ocean Protocol Faucet Server</h1> -->
	  		</a>
	  		<span class="headerTitle">Ocean Protocol Faucet Server</span>
	  	<!-- </div> -->
  		<!-- <div class="col-11">
			<span class="headerTitle">Ocean Protocol Faucet Server</span>
  		</div> -->
  	</div>
  </header>
</div>