<div class="page-header mb-lg-5">
  <header class="header">
  	<div class="headerContent">
		<a class="headerLogo" href="/">
			<img class="headerLogoImage img-fluid" src="/imgs/logo-white.svg">
		</a>
  		<span class="headerTitle">Ocean Protocol Faucet Server</span>
  	</div>
  </header>
</div>